.env
node_modules/
.DS_Store
debug/
release/
.vscode/
android/.idea/
android/build/
android/app/build/
firebase-service-account.json
uploads/
android/app/debug.keystore
# Ignore release keystore and signing props
android/app/*.keystore
android/app/*.jks
android/app/keystore.properties
android/local.properties
*.log
android/.gradle/
android/gradle-temp/
android/app/.cxx/
android/logcat*.txt
android/build-*.txt
android/build-log.txt
android/build-debug-verbose.txt
android/build-plain.txt
android/gradle-*.zip
restorepoints/
